<a href="https://colab.research.google.com/github/alexisnpavlik/Job-listing-Query/blob/main/SONIC_Experiment_Alexis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Set Up

In [1]:
# Prepare the environment
%%capture
from google.colab import drive, auth
drive.mount('/content/drive')
%cd /content/drive/MyDrive/python-library
!pip install .
!sudo apt-get install python-pymysql
!pip install colab-env
!pip install Hashids
import colab_env
%cd /content
import nltk
nltk.download('stopwords')
import gallifrey
import pandas as pd
import numpy as np
import time
from hashids import Hashids

#Set up for Hash calculation
hasher = Hashids("jS5qAlR0kHbAeqeuVowPBnyotKuTvvlGzIzkEtz79XQGB7BJHb", 
                 8, 
                 "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890")

# Authenticate
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials as GC
gc = gspread.authorize(GC.get_application_default())

# create, and save df
from gspread_dataframe import set_with_dataframe

Go to the following link in your browser:

    https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=openid+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fappengine.admin+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcompute+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Faccounts.reauth+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&state=XL3ALjO4OuZw6mD3MpiWXAd0ZP2B8Z&prompt=consent&access_type=offline&code_challenge=myjhzip3BB3czZXG4cYxmyRjS_DppoOkrYKfFZocALE&code_challenge_method=S256

Enter verification code: 4/1AX4XfWhY8n7bQ7fgG-WhhCN8K9vOTJa6XHwZBJs9A28_QNSqTIqn6I11Wc8

## Query

In [2]:
main_query= """

SELECT
    -- ID
    o.id as ID,
    -- Job title
    o.objective as 'Job title',
    -- Company
   (select organization_id from opportunity_organizations where opportunity_id =  o.id  group by organization_id limit 1) as 'Company_id',
    -- location
    (select group_concat(l.location) from opportunity_places l where l.opportunity_id = o.id and l.active = 1) as 'location',
    -- Created date 
    DATE(o.created) as 'Created date',
    -- Approved date
    DATE(o.reviewed) as 'Approved date',
    -- Commit date
    DATE(och.created) as 'Commited date',
    -- Account Manager
    p.name as 'Account manager',
    -- Type of job
    o.commitment_id as 'Type of job',
    -- Type of service
    o.fulfillment as 'Type of service',
    -- Language of the post
    o.locale as 'Language of the post',
    -- Status
    o.status as 'Status',
    -- Changes history, last updated
    DATE(o.last_updated) as 'Last changes',
    -- Closing date
    DATE(o.deadline) as 'Closing Date',

    -- Mutual matches
    sum(case when me.interested is not null and oc.interested is not null then 1 else 0 end) as 'Mutual Matches',
    -- Disqualified
    sum(case when me.send_disqualified_notification is not null then 1 else 0 end)  as 'Disqualified',
    -- Completed applications
    sum(case when oc.interested is not null then 1 else 0 end) as 'Completed Applications',
    -- Incomplete applications
    sum(case when oc.created is not null then 1 else 0 end) as 'Incomplete applications',
    -- Others
    sum(case when oc.id is not null and oc.interested is not null and oc.column_id is not null
    and oc2.name <> 'mutual matches'
    and (last_evaluation.last_interest is not null and (last_evaluation.last_not_interest is null or last_evaluation.last_interest > last_evaluation.last_not_interest)) then 1 else 0 end)
    as 'Others',
    -- Active
    sum(case when me.interested is not null and oc.interested is not null then 1 else 0 end) + sum(case when oc.id is not null and oc.interested is not null and oc.column_id is not null
    and oc2.name <> 'mutual matches'
    and (last_evaluation.last_interest is not null and (last_evaluation.last_not_interest is null or last_evaluation.last_interest > last_evaluation.last_not_interest)) then 1 else 0 end)  as 'Active',
    -- Pending for review
    ( sum(case when oc.interested is not null then 1 else 0 end) - ( sum(case when me.interested is not null and oc.interested is not null then 1 else 0 end) + sum(case when oc.id is not null and oc.interested is not null and oc.column_id is not null
    and oc2.name <> 'mutual matches'
    and (last_evaluation.last_interest is not null and (last_evaluation.last_not_interest is null or last_evaluation.last_interest > last_evaluation.last_not_interest)) then 1 else 0 end) + me.send_disqualified_notification ) ) as 'Pending for review',
    -- Hires
    DATE(osh.hiring_date) as 'Hires',


    -- Sharing token
    (select sharing_token from opportunity_members where manager = true and status = 'accepted' and opportunity_id =  o.id  limit 1) as 'Sharing token'

FROM opportunities as o

    -- Necessary for completed applications and incomplete applications
    join opportunity_candidates as oc on o.id = oc.opportunity_id
    -- Necessary for account manager
    join opportunity_changes_history as och on o.id = och.opportunity_id
    -- Necessary for account_mannager
    left join person_account_managers as pam on och.person_id = pam.person_id
    -- join to make the relation people-person_account_mannager
    left join people as p on pam.person_id = p.id
    -- join to asign osh to get match dates
    left join opportunity_stats_hires osh on o.id = osh.opportunity_id
    -- join to get member evaluation
    join member_evaluations as me on oc.id = me.candidate_id
    -- Join to get the correct relation into id's 
    left join opportunity_columns oc2 on oc.column_id = oc2.id
    -- join to get calculations
    left join ( select me.candidate_id, max(me.interested) as last_interest, max(me.not_interested) as last_not_interest
    from member_evaluations me group by me.candidate_id) last_evaluation on last_evaluation.candidate_id = oc.id
      
    

WHERE true
    #and me.send_disqualified_notification = true
    and o.objective <> 'Shared by an intermediary'
    and o.review = 'approved'
    -- Approved date is not null
    and o.reviewed is not null
    and osh.hiring_date is not null
    and p.username in ('catalinazarate12','juanfebog','jpinilla','cappadaniela27','laumariareyest','laurammedinag','diego19_franco35','inglisscardenas')

group by o.id
order by o.created desc;

"""

In [3]:
organizations_query = """

SELECT 
  id as 'Company_id',
  name as 'Company' 
  
FROM organizations;

"""

## Manual Update

In [ ]:
main_df = pd.DataFrame(gallifrey.discovery.execute_query(main_query))
organizations_df = pd.DataFrame(gallifrey.solar.execute_query(organizations_query))

In [ ]:
main_df.head(10)

In [ ]:
organizations_df.head(10)

In [ ]:
# Alfa ID Generator
def alfa_id(id):
  return hasher.encode(id)

# URL Generator
def url_generator(id):
  return 'https://torre.co/postings/'+hasher.encode(id)

# Manager URL Generator
def manager_generator(id):
  return 'https://torre.co/postings/'+hasher.encode(id)+'/members-list?sharingToken='

# Transforms columns
main_df.insert(1,"Alfa ID", main_df['ID'].apply(alfa_id),True)
main_df.insert( 2,"URL", main_df['ID'].apply(url_generator),True)
main_df.insert( 3,"Manager link", main_df['ID'].apply(manager_generator),True)
main_df['Manager link']=main_df['Manager link'].apply(lambda x:x+main_df['Sharing token'])

In [ ]:
opportunities_df = pd.merge(left=main_df,right=organizations_df)

opportunities_df = opportunities_df.reindex(columns=['ID','Job title','Company','Alfa ID','location','Created date','Approved date','Commited date','Account manager','Type of job',
                                             'Type of service','URL','Manager link','Language of the post','Status','Mutual Matches','Disqualified','Last changes','Closing Date',
                                             'Completed Applications','Incomplete applications','Others','Active','Pending for review','Hires'])

# Update Google Sheet

In [ ]:
sheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1V1RkMTrOFEQLsYGJaA9KukO9fgtgf6uwG8o-QHrkk2Q/edit#gid=0').sheet1

sheet.clear()

set_with_dataframe(sheet, opportunities_df)

# Save to Google drive

##### Save csv

In [ ]:
drive.mount('/content/drive')

In [ ]:
opportunities_df.to_csv('/content/drive/My Drive/Data_studio_dataset/Dataset.csv',index=False,encoding='utf-8')

##### Save  Excel

In [ ]:
drive.mount('/content/drive')

In [ ]:
opportunities_df.to_excel('/drive/My Drive/Data_studio_dataset/Dataset.xls',index=False,encoding='utf-8')

# Testing

In [ ]:
query_testing = """

select id as 'Company_id', name as 'Company' from organizations ;

"""

In [ ]:
Testing = pd.DataFrame(gallifrey.solar.execute_query(query_testing))

### Update Google Sheet

In [ ]:
sheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1V1RkMTrOFEQLsYGJaA9KukO9fgtgf6uwG8o-QHrkk2Q/edit#gid=0').sheet1

sheet.clear()

set_with_dataframe(sheet, Testing)

In [ ]:
Testing.head()

   Company_id                          Company
0      795908
1      773085   0 2 Convergencia Digital S A S
2      763230                    2 Way Sports
3      795148             23Ky Colombia S.A.S.
4      891553                      60 Decibels